* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/images.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: auto;
}

.login-box {
  width: 360px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-group input:focus {
  box-shadow: 0 0 0 2px #00c6ff;
}

.btn-login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  opacity: 0.9;
}

.error-msg {
  background: rgba(255, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-text {
  text-align: center;
  margin-top: 18px;
  font-size: 13px;
  opacity: 0.85;
}
.back-home {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.3s;
}

.back-home:hover {
  opacity: 1;
  text-decoration: underline;
}

.auth-box {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.auth-box button:hover {
  opacity: 0.9;
}

.auth-box a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.error {
  background: rgba(255, 0, 0, 0.25);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
}
